body {
  /*background-image: url(/bg.png);*/
  /*background-color: #f2f2f2;*/
  background-color: #fff;
}

.container {
  max-width: 750px;
}

.flash {
  margin-bottom: 15px;
}
.flash h3 {
  margin: 0 0 5px;
}
.flash ul {
  margin-left: 15px;
}

hr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
}

.form-control, input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="tel"], input[type="url"], select, textarea {
  background-color: #fafafa;
}

.btn .fa {
  margin-right: .5em;
}

::-webkit-input-placeholder {
  color: #bbb !important;
}

.navbar-inverse {
  border: 0;
  border-radius: 0;
  background: #323232;
  background: rgba(0,0,0,0.8);
}
.navbar-brand {
  padding-top: 13px;
  font-size: 20px;
}
.navbar-inverse .navbar-brand {
  color: #fff;
}
.navbar-brand .brand-icon {
  font-size: 24px;
  margin-right: .3em;
}

.rff-view {
  margin-top: 10px;
}
.rff-view .btn {
  margin-left: 20px;
}

#preview-result .filtered {
  color: gray;
  text-decoration: line-through;
}

.fa-spin {
  font-size: 20px;
}

.newfeed {
  max-width: 600px;
  margin: 0 auto;
}

.form-group label {
  margin-top: 1em;
}

.note {
  color: #767676;
}

.table.no-border th,
.table.no-border td {
  border: 0;
}

.feed.panel .panel-heading {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.feed.panel .panel-title {
  margin-right: auto;
  padding-top: 6px;
}
.feed.panel .table {
  margin-bottom: 0;
}
.feed.panel .table th {
  width: 160px;
  color: gray;
  font-size: 12px;
  font-weight: normal;
}
.feed.panel .table th,
.feed.panel .table td {
  padding: 2px;
}
.feed.panel .label {
  font-weight: normal;
  margin-right: 4px;
}

#preview-result {
  margin-left: 15px;
}

.footer {
  margin-top: 3em;
  padding: 1em 0 4em;
}

.footer .author a {
  color: gray;
}
