.container {
  max-width: 750px;
}

.btn .fa {
  margin-right: .5em;
}

.navbar-brand {
  font-size: 24px;
  padding: 12px 15px;
}
.navbar-brand .fa {
  margin-right: .3em;
}

.newfeed {
  max-width: 600px;
  margin: 0 auto;
}

.table.no-border th,
.table.no-border td {
  border: 0;
}

.feed.panel .table {
  margin-bottom: 0;
}

.feed.panel .table th {
  width: 140px;
  font-weight: normal;
  color: gray;
}

.feed.panel .table th,
.feed.panel .table td {
  padding: 2px;
}
