.container {
  max-width: 750px;
}

.btn .fa {
  margin-right: .5em;
}

.navbar-inverse {
  border: 0;
  border-radius: 0;
  background: #323232;
  background: rgba(0,0,0,0.8);
}
.navbar-brand {
  font-size: 20px;
}
.navbar-inverse .navbar-brand {
  color: #fff;
}
.navbar-brand .brand-icon {
  font-size: 24px;
  margin-right: .3em;
}

.newfeed {
  max-width: 600px;
  margin: 0 auto;
}

.table.no-border th,
.table.no-border td {
  border: 0;
}

.feed.panel .panel-heading {
  display: flex;
}
.feed.panel .panel-title {
  margin-right: auto;
  padding-top: 6px;
}
.feed.panel .table {
  margin-bottom: 0;
}
.feed.panel .table th {
  width: 160px;
  color: gray;
  font-size: 12px;
  font-weight: normal;
}
.feed.panel .table th,
.feed.panel .table td {
  padding: 2px;
}
.feed.panel .label {
  font-weight: normal;
  margin-right: 4px;
}

.footer {
  margin-top: 3em;
  padding: 1em 0 4em;
  background-color: #f2f2f2;
}

.footer .author a {
  color: inherit;
}
